@import url('https://fonts.googleapis.com/css?family=Poppins:,500,600');

body {
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: Poppins, "sans-serif";
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9;
  visibility: hidden;
  text-align: center;
  background-color: white;
 }

 @media screen and (max-width: 1123px) {
   .overlay {
     visibility: visible;
   }
 }

h1 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    border-bottom: 8px solid;
    padding-bottom: 8px;
}


.row {
    height: 100vh;
    width: 100;
}

.column1,
.column2,
.column3 {
    padding: 0;
}

#header {
    background-color: orange;
    height: 19vh;
}

#header:hover {
    background-color: lightseagreen;
    transition-duration: 1s;
}

#number1 {
    background-color: lightseagreen;
    height: 35vh;
}

#number2 {
    background-color: whitesmoke;
    height: 46vh
}

#number3 {
    background-color: lightseagreen;
    height: 30vh;
}

#number4 {
    background-color: whitesmoke;
    height: 30vh
}

#number5 {
    background-color: lightseagreen;
    height: 40vh
}

#number1:hover,
#number3:hover,
#number5:hover {
    background-color: orange;
    transition-duration: 1s;
}

#number2:hover h1,
#number4:hover h1 {
    color: orange;
}

#number6 {
    background: url(IMG_1074.jpg) no-repeat center right;
    background-size: cover;
    height: 30vh
}

#picofme {
    height: 70vh;
    background: url(asset.JPG) no-repeat bottom center;
    background-size: cover;
}

a {
    text-decoration: none;
    color: lightseagreen;
}

a:hover {
    text-decoration: none;
    color: orange;
    transition-duration: 0.5s;
}
